@charset "utf-8";
*{margin:0; padding:0; box-sizing: border-box;}

a{text-decoration: none; color:#000;}
li{list-style: none;}
#skip{position:absolute; width:100%; height:auto; font-size:0; overflow:hidden;}
#skip ul{}
#skip ul li{text-align:center; background-color:#000;}
#skip ul li a{display:block; color:#fff;}
#skip ul li a:focus{font-size:14px; padding:10px;}

#wrap{width: 1024px; height: 850px; margin: 0 auto; overflow: hidden;}
#header{width: 200px; height: 850px; float: left; border:1px solid #000;}
#banner{width: 824px; height: 300px; float: left; border:1px solid #000;}
#content{width: 824px; height: 250px; float: left; background: #fff; border:1px solid #000;}
#shortcut{width: 824px; height: 200px; float: left; background: rgb(206, 207, 209); border:1px solid #000;}
#footer{width: 824px; height: 100px; float: left; border:1px solid #000;}

#header h1{margin-bottom:27px;}
#nav{}
#nav>ul{width:100%; }
#nav>ul>li{text-align: center; width:100%; background-color: coral;  transition: .4s;}
#nav>ul>li:hover{background-color: crimson;}
#nav>ul>li>a{display:block; color:#fff; padding:10px 0;}
#nav>ul>li>ul{display:none;}
#nav>ul>li>ul li{padding:10px 0; background-color: darksalmon;}
#nav>ul>li>ul li a{display:block; color:#fff;}
#nav>ul>li>ul li a:hover{color:#000; font-weight:bold;}

#banner{}
#banner ul{position:relative; top:0; left:0;}
#banner ul li{position:absolute; top:0; left:0; opacity:0;}
#banner ul li:first-child{opacity:1;}
#banner ul li a{}
#banner ul li a img{}

#content{display:flex; margin-top:10px;}
#content>div{width:50%;}
.notice-gallery{}
.notice-gallery .tab{}
.notice-gallery .tab ul{display:flex; }
.active{background-color: darksalmon;}
.tab ul li.active a{color: #fff;}
.notice-gallery .tab ul li{border:1px solid #000; padding:10px;  width:100px; text-align: center; margin-bottom:10px;}
.notice-gallery .tab ul li a{display:block; color:#000;}

.tab-contents{}
.tab-contents .notice{}
.tab-contents .notice ul{background-color: dimgray; padding:10px;}
.tab-contents .notice ul li{display:flex; justify-content: space-between; border-bottom:1px solid #000; padding:10px 8px;}
.tab-contents .notice ul li a{font-size:14px;}
.tab-contents .notice ul li span{font-size:14px;}

.gallery{display:none;}
.gallery ul{display:flex; justify-content: space-between;}
.gallery ul li{}
.gallery ul li a{}
.gallery ul li a img{}

.img-banner{padding-left: 10px;}
.img-banner h2{font-size: 18px; padding: 10px 0 5px; border-bottom: 1px solid #ddd;}
.img-banner a{display: block; position: relative; width: 100%; height: 100%; margin-top: 9px;}
.img-banner a img{}
.img-banner a span{position: absolute; top: 50%; left: 50%; background: #000;transform: translate(-50%, -60%); display: block; padding: 30px; color: #fff;}

#shortcut{}
#shortcut ul{display:flex; justify-content: space-between; padding:20px; margin:0 auto; width:550px;}
#shortcut ul li{width:150px; background-color: orange; height:150px; padding:40px 0; box-shadow:2px 2px 5px #000;}
#shortcut ul li a{display:flex; flex-direction:column; align-items:center; font-weight:bold; color:#fff;}
#shortcut ul li a img{width:50px; padding-bottom:10px;}
#shortcut ul li a img span{}

#footer{display:flex;}
#footer div{width:80%;}
#footer h2{width:20%; border:1px solid #000; padding-top:10px;}
#footer h2 img{width:150px;}
#footer address{font-style:normal; font-size:12px; background: #000; color:#fff; padding:20px 10px;}
#footer .footer-menu{font-size:12px; background: slategrey;color:#fff; padding:10px 10px; width:100%;}
#footer .footer-menu ul{display:flex;}
#footer .footer-menu ul li{margin-right:20px;}

.pop{position:absolute; width:100%; height:100%; top:0; left:0; background: rgba(0,0,0,.5); display:none; }
.pop .pop-wrap{position:relative; width:500px; height:500px; top:50%; left:50%; transform: translate(-50%,-50%); background: #fff;padding:50px;}
.pop .pop-wrap h2{text-align: center; margin-bottom:30px;}
.pop .pop-wrap p{font-size:14px;}
.pop .pop-wrap .btn{position:absolute; bottom:30px; right:30px; width:50px; height:30px; background: springgreen; color:#fff;}