@charset "utf-8";
*{margin:0; padding:0; box-sizing: border-box;}
a{text-decoration: none; color:#fff;}
li{list-style: none;}
body{background-color: #030303;}
#skip{position:absolute; width:100%; height:auto; overflow: hidden; font-size:0;}
#skip ul{}
#skip ul li{background-color: black; text-align:center;}
#skip ul li a{display:block; color:#fff;}
#skip ul li a:focus{font-size:14px; padding:10px;}
#wrap{width:1000px; height: 1100px; margin: auto; border:1px solid #fff;}
#header{width: 100%; height:150px;  border:1px solid #fff; display:flex; justify-content: space-between; align-items: center;}
#slide{width: 100%; height:350px; border:1px solid #fff;}
#content{width: 100%; height:500px; border:1px solid #fff;}
#footer{width: 100%; height:100px; border:1px solid #fff;}


#header h1{width:200px; height:50px;  margin-left:20px;}
#header h1 a{}
#header h1 a img{width:100%; }
#nav{}
#nav>ul{display: flex;}
#nav>ul>li{width:100px; text-align: center; padding:10px 0; transition:.4s; z-index: 999;}
#nav>ul>li:hover{background-color: cyan;}
#nav>ul>li>a{display:block;}
#nav>ul>li>ul{display:none; position:absolute; width:100px; padding:10px 0;}
#nav>ul>li>ul li{width:100px; padding:10px 0; background-color: darksalmon; transition: .4s;}
#nav>ul>li>ul li:hover{background-color: darkturquoise;}
#nav>ul>li>ul li a{display:block;}

#slide{}
#slide ul{width:100%; height:100%; position:relative; top:0; left:0; overflow: hidden;}
#slide ul li{position: absolute; width:100%; height:100%; top:0; left:-100%;}
#slide ul li:first-child{left:0;}
#slide ul li a{}
#slide ul li a img{}


#content .notice-partner{width:100%; height:300px; border:1px solid #fff; display:flex; }
.notice-partner .notice{width:50%; height:100%;}
.notice-partner .notice h2{color:#fff; padding:10px 10px;}
.notice-partner .notice ul{width:100%; height:100%; padding:10px 10px;}
.notice-partner .notice ul li{width:100%; padding:10px 0;display:flex; justify-content:space-between;}
.notice-partner .notice ul li a{display:block; width:60%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.notice-partner .notice ul li span{width:20%; color:#fff;}
.notice-partner .partner{width:50%; height:100%;}
.notice-partner .partner h2{color:#fff; padding:10px 10px;}
.notice-partner .partner ul{ padding:10px 10px; width:100%; height:100%;}
.notice-partner .partner ul li{width:100%; padding:5px 0;}
.notice-partner .partner ul li a{}
.notice-partner .partner ul li a img{width:100%; height:100px;;}

span{color:#fff;}
p{color:#fff; font-size:14px;}
.icon-banner{width:100%; height:200px; display:flex; justify-content: space-around; align-items: center; text-align: center;}

